openapi: 3.0.1
info:
  title: ingestion-trigger
  description: >-
    Service that designed to validate and trigger ingestion of new layers from
    raw data and update existing layers
  version: 3.2.5
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
paths:
  /ingestion:
    post:
      operationId: ingestNewLayer
      tags:
        - ingestion
      summary: start a process of creating new layer from raw data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestionNewLayerRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
  /ingestion/{id}:
    put:
      operationId: updateLayer
      tags:
        - ingestion
      summary: start a process of updating an existing layer from raw data
      parameters:
        - name: id
          in: path
          description: The id of the layer to update
          required: true
          schema:
            $ref: '#/components/schemas/LayerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestionUpdateLayerRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessfulResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
        '500':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
  /ingestion/validateSources:
    post:
      operationId: validateSources
      tags:
        - ingestion
      summary: checks that all provided files have valid raw data
      requestBody:
        description: A json object containing array of files and origin source path
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas-InputFiles'
            example:
              originDirectory: string
              fileNames:
                - example.gpkg
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateSourcesResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
  /ingestion/sourcesInfo:
    post:
      operationId: getGdalInfo
      tags:
        - ingestion
      summary: returns the GDAL info for the provided source files
      requestBody:
        description: A json object containing array of files and origin source path
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas-InputFiles'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sourcesInfoResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
        '404':
          description: Files not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
components:
  schemas:
    CallbackUrls:
      type: array
      items:
        type: string
        pattern: ^https?:\/\/[^\s/$.?#].[^\s]*$
        description: callback url for ingestion status notifications
      example:
        - https://my-dns-for-callback
    GpkgFilesPath:
      type: array
      minItems: 1
      maxItems: 1
      items:
        type: string
        pattern: ^((\/[\w-]+)+)\/([\wא-ת\.-]+)\.gpkg$
        description: gpkg source file paths
      example:
        - /path/to/example.gpkg
    IngestionNewLayerMetadata:
      type: object
      required:
        - productId
        - productName
        - productType
        - srs
        - srsName
        - transparency
        - region
      properties:
        productId:
          $ref: '#/components/schemas/ProductId'
        productName:
          $ref: '#/components/schemas/ProductName'
        productType:
          $ref: '#/components/schemas/ProductType'
        productSubType:
          $ref: '#/components/schemas/ProductSubType'
        region:
          $ref: '#/components/schemas/Region'
        srs:
          $ref: '#/components/schemas/Srs'
        srsName:
          $ref: '#/components/schemas/SrsName'
        transparency:
          $ref: '#/components/schemas/Transparency'
        producerName:
          $ref: '#/components/schemas/ProducerName'
        scale:
          $ref: '#/components/schemas/Scale'
        description:
          $ref: '#/components/schemas/Description'
        classification:
          $ref: '#/components/schemas/Classification'
    IngestionNewLayerRequest:
      type: object
      required:
        - metadata
        - inputFiles
        - ingestionResolution
        - callbackUrls
      properties:
        metadata:
          $ref: '#/components/schemas/IngestionNewLayerMetadata'
        inputFiles:
          $ref: '#/components/schemas/InputFiles'
        ingestionResolution:
          $ref: '#/components/schemas/IngestionResolution'
        callbackUrls:
          $ref: '#/components/schemas/CallbackUrls'
    IngestionResolution:
      type: number
      format: double
      minimum: 1.67638063430786e-7
      maximum: 0.703125
      description: requested ingestion resolution
    IngestionUpdateLayerMetadata:
      type: object
      required:
        - classification
      properties:
        classification:
          $ref: '#/components/schemas/Classification'
    IngestionUpdateLayerRequest:
      type: object
      required:
        - metadata
        - inputFiles
        - ingestionResolution
        - callbackUrls
      properties:
        metadata:
          $ref: '#/components/schemas/IngestionUpdateLayerMetadata'
        inputFiles:
          $ref: '#/components/schemas/InputFiles'
        ingestionResolution:
          $ref: '#/components/schemas/IngestionResolution'
        callbackUrls:
          $ref: '#/components/schemas/CallbackUrls'
    InputFiles:
      type: object
      required:
        - gpkgFilesPath
        - metadataShapefilePath
        - productShapefilePath
      properties:
        gpkgFilesPath:
          $ref: '#/components/schemas/GpkgFilesPath'
        metadataShapefilePath:
          $ref: '#/components/schemas/MetadataShapefilePath'
        productShapefilePath:
          $ref: '#/components/schemas/ProductShapefilePath'
    MetadataShapefilePath:
      type: string
      pattern: ^(\/[\w-]+)+\/ShapeMetadata\.shp$
      description: metadata shape file path
      example: /path/to/ShapeMetadata.shp
    ProductShapefilePath:
      type: string
      pattern: ^(\/[\w-]+)+\/Product\.shp$
      description: product shape file path
      example: /path/to/Product.shp
    SuccessfulResponse:
      type: object
      required:
        - jobId
      properties:
        jobId:
          type: string
          format: uuid
    ProductId:
      type: string
      pattern: ^[A-Za-z]{1}[A-Za-z0-9_]{0,37}$
      description: >-
        Layer's external identifier, must start with a letter and contain only
        letters, numbers and underscores
      example: BLUE_MARBLE
    ProductName:
      type: string
      description: Layer's external name
    ProductType:
      type: string
      enum:
        - Orthophoto
        - OrthophotoHistory
        - OrthophotoBest
        - RasterMap
        - RasterMapBest
        - RasterAid
        - RasterAidBest
        - RasterVector
        - RasterVectorBest
      description: Layer's type, list of raster product types
    ProductSubType:
      type: string
      description: Layer's sub type
    Region:
      type: array
      items:
        type: string
      minItems: 1
      description: List of layer's regions
    Srs:
      type: string
      enum:
        - '4326'
      description: Geo-system id
    SrsName:
      type: string
      enum:
        - WGS84GEO
      description: Geo-system name
    Transparency:
      type: string
      enum:
        - TRANSPARENT
        - OPAQUE
      description: Layer transparency, might be 'TRANSPARENT' or 'OPAQUE'
    ProducerName:
      type: string
      default: IDFMU
      description: Layer's producer name default to 'IDFMU'
    Scale:
      type: integer
      minimum: 0
      maximum: 100000000
    Description:
      type: string
      description: Layer's description
    Classification:
      type: string
      description: Permitted roles, value must be between 0 and 100
      pattern: ^[0-9]$|^[1-9][0-9]$|^(100)$
    errorMessage:
      type: object
      properties:
        message:
          type: string
      required:
        - message
    LayerId:
      type: string
      format: uuid
      description: Layer's identifier
      example: c52d8189-7e07-456a-8c6b-53859523c3e9
    schemas-InputFiles:
      title: Layer input files
      type: object
      properties:
        originDirectory:
          type: string
          example: string
          description: layer source directory
        fileNames:
          type: array
          items:
            type: string
            pattern: ^.+\.[Gg][Pp][Kk][Gg]$
            description: layer source files
          example:
            - example.gpkg
      required:
        - originDirectory
        - fileNames
    validateSourcesResponse:
      type: object
      properties:
        isValid:
          type: boolean
          example: true
        message:
          type: string
          example: Files are valid
      required:
        - isValid
    Point2D:
      type: array
      maxItems: 2
      minItems: 2
      items:
        type: number
        minimum: -180
        maximum: 180
    BBox:
      type: array
      minItems: 4
      items:
        type: number
      example:
        - -180
        - -90
        - 180
        - 90
    Point:
      type: object
      description: GeoJSON Point
      externalDocs:
        url: http://geojson.org/geojson-spec.html#id2
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - Point
        coordinates:
          $ref: '#/components/schemas/Point2D'
        bbox:
          $ref: '#/components/schemas/BBox'
      example:
        type: Point
        coordinates:
          - -180
          - -90
    LineString:
      type: object
      description: GeoJSON LineString
      externalDocs:
        url: http://geojson.org/geojson-spec.html#id3
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - LineString
        coordinates:
          type: array
          minItems: 2
          items:
            $ref: '#/components/schemas/Point2D'
        bbox:
          $ref: '#/components/schemas/BBox'
      example:
        type: LineString
        coordinates:
          - - -180
            - -90
          - - 180
            - 90
    Polygon:
      type: object
      description: GeoJSON Polygon
      externalDocs:
        url: http://geojson.org/geojson-spec.html#id4
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - Polygon
        coordinates:
          type: array
          items:
            type: array
            minItems: 4
            items:
              $ref: '#/components/schemas/Point2D'
        bbox:
          $ref: '#/components/schemas/BBox'
      example:
        type: Polygon
        coordinates:
          - - - -180
              - -90
            - - 180
              - -90
            - - 180
              - 90
            - - -180
              - 90
            - - -180
              - -90
    MultiPoint:
      type: object
      description: GeoJSON MultiPoint
      externalDocs:
        url: http://geojson.org/geojson-spec.html#id5
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - MultiPoint
        coordinates:
          type: array
          items:
            $ref: '#/components/schemas/Point2D'
        bbox:
          $ref: '#/components/schemas/BBox'
      example:
        type: MultiPoint
        coordinates:
          - - -180
            - -90
          - - 180
            - 90
    MultiLineString:
      type: object
      description: GeoJSON MultiLineString
      externalDocs:
        url: http://geojson.org/geojson-spec.html#id6
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - MultiLineString
        coordinates:
          type: array
          items:
            type: array
            minItems: 2
            items:
              $ref: '#/components/schemas/Point2D'
        bbox:
          $ref: '#/components/schemas/BBox'
      example:
        type: MultiLineString
        coordinates:
          - - - -180
              - -90
            - - 180
              - 90
          - - - -180
              - 90
            - - 180
              - 90
    MultiPolygon:
      type: object
      description: GeoJSON MultiPolygon
      externalDocs:
        url: http://geojson.org/geojson-spec.html#id6
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - MultiPolygon
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              minItems: 4
              items:
                $ref: '#/components/schemas/Point2D'
        bbox:
          $ref: '#/components/schemas/BBox'
      example:
        type: MultiPolygon
        coordinates:
          - - - - -180
                - -90
              - - 0
                - -90
              - - 0
                - 90
              - - -180
                - 90
              - - -180
                - -90
          - - - - 0
                - -90
              - - 180
                - -90
              - - 180
                - 90
              - - 0
                - 90
              - - 0
                - -90
    Geometry:
      description: GeoJSON Geometry
      discriminator:
        propertyName: type
      type: object
      anyOf:
        - $ref: '#/components/schemas/Point'
        - $ref: '#/components/schemas/LineString'
        - $ref: '#/components/schemas/Polygon'
        - $ref: '#/components/schemas/MultiPoint'
        - $ref: '#/components/schemas/MultiLineString'
        - $ref: '#/components/schemas/MultiPolygon'
    sourcesInfoResponse:
      type: array
      items:
        type: object
        properties:
          crs:
            type: number
          fileFormat:
            type: string
          pixelSize:
            type: number
          extentPolygon:
            $ref: '#/components/schemas/Geometry'
          fileName:
            type: string
        required:
          - crs
          - fileFormat
          - pixelSize
          - extentPolygon
          - fileName
        example:
          crs: 4326
          fileFormat: gpkg
          pixelSize: 0.703125
          extentPolygon:
            type: Polygon
            coordinates:
              - - - -180
                  - -90
                - - -180
                  - 90
                - - 180
                  - 90
                - - 180
                  - -90
                - - -180
                  - -90
          fileName: file.gpkg
